<!DOCTYPE html>

<html lang="en" data-content_root="./">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Remote data acquisition and logging &#8212; nwDaq</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/theme.css')}}" />
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

	</head>
	<body>



		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-lg container-fluid">
				<a class="navbar-brand" href="/">nwDaq downloads</a>

				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="products">Products</a>
					</li>

				</ul>
				<form class="d-flex">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>
			</div>
		</nav>

		<div class="header"></div>

		<div class="content">
			<div class="container-lg">
				<h1 class="d-flex justify-content-between current-directory">
					<i class="bi bi-folder text-warning"></i>
					<div>
						/ {{ directory }}
					</div>
					<div class="directory-up">
						<a href="/{{ up }}"><i class="bi bi-arrow-up-square"></i></a>
					</div>
				</h1>

				<div class="section-readme">
					{{ readme | safe }}
				</div>

				<div class="accordion" id="file-list">

					<div class="accordion-item">
						<h2 class="accordion-header">
							<div class="file-list-header">
								<i class="bi bi-question"></i>
								<div class="file-list-name collapse show">File name</div>
								<div class="file-list-type collapse show">Type</div>
								<div class="file-list-size collapse show">Size</div>
								<div class="file-list-mtime collapse show">Modification time</div>
								<div class="dropdown">
									<button class="btn btn-sm" type="button" id="select-cols-button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
										<i class="bi bi-three-dots"></i>
									</button>
									<ul class="dropdown-menu" aria-labelledby="select-cols-button">
										<li><h6 class="dropdown-header">Select visible columns</h6></li>
										<li><a class="dropdown-item btn-toggle active" data-bs-toggle="button">
											<div class="" data-bs-toggle="collapse" data-bs-target=".file-list-name">File name</div>
										</a></li>
										<li><a class="dropdown-item btn-toggle active" data-bs-toggle="button">
											<div class="" data-bs-toggle="collapse" data-bs-target=".file-list-type">File type</div>
										</a></li>
										<li><a class="dropdown-item btn-toggle active" data-bs-toggle="button">
											<div class="" data-bs-toggle="collapse" data-bs-target=".file-list-size">File size</div>
										</a></li>
										<li><a class="dropdown-item btn-toggle active" data-bs-toggle="button">
											<div class="" data-bs-toggle="collapse" data-bs-target=".file-list-mtime">Modification time</div>
										</a></li>
									</ul>
								</div>
							</div>
						</h2>
					</div>

					{% for file in files %}
					<div class="accordion-item">
						<h2 class="accordion-header" id="file-header-{{loop.index}}">
							{% if file.isdir %}
							<a href="{{ (request.path + '/' if request.path != '/' else '') + file.filename }}" role="button" class="accordion-button collapsed accordion-folder">
								<i class="bi bi-folder text-warning"></i>
								<div class="file-list-name collapse show">{{ file.filename }}</div>
							</a>
							{% else %}
							<a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#file-collapse-{{loop.index}}" aria-expanded="false" aria-controls="file-collapse-{{loop.index}}">
								<i class="bi bi-{{ file.icon }}"></i>
								<div class="file-list-name collapse show">{{ file.filename }}</div>
								<div class="file-list-type collapse show">{{ file.type }}</div>
								<div class="file-list-size collapse show">{{ file.size }}</div>
								<div class="file-list-mtime collapse show">{{ file.mtime }}</div>
							</a>
							{% endif %}
						</h2>

						{% if not file.isdir %}
						<div id="file-collapse-{{loop.index}}" class="accordion-collapse collapse" aria-labelledby="file-header-{{loop.index}}" data-bs-parent="#file-list">
							<div class="accordion-body">
								<a href="{{ (request.path + '/' if request.path != '/' else '') + file.filename }}" role="button" class="btn btn-primary">Download</a>
								Nejake dalsie veci
							</div>
						</div>
						{% endif %}
					</div>
					{% endfor %}

				</div>
			</div>
		</div>

	</body>
</html>
