.header {
	align-items: center;
	background: url('../header.png') repeat-x;
	background-size: contain;
	display: flex;
	height: 4em;
	justify-content: flex-end;
	margin-bottom: 2em;
}

h1 {
	margin-bottom: 1em !important;
}

.accordion-button i {
	width: 2em;
	font-size: 2em;
}

.file-list-name {
	width: 50%;
}

.file-list-type {
	width: 25%;
}

.file-list-size {
	width: 25%;
}

.accordion a {
	text-decoration: none !important;
}

