body {
	overflow-y: scroll;
}

.header {
	align-items: center;
	background: url('../header.png') repeat-x;
	background-size: contain;
	display: flex;
	height: 4em;
	justify-content: flex-end;
	margin-bottom: 2em;
}


.current-directory {
	margin-bottom: 1em !important;
	font-size: 1.5em;
}

.current-directory .bi-folder {
	margin-right: 2em;
}


.directory-up {
	margin-left: auto;
}

.file-list-name {
	width: 50%;
}

.file-list-type {
	width: 25%;
}

.file-list-size {
	width: 25%;
}

.accordion a {
	text-decoration: none !important;
}

.accordion-header a {
	justify-content: start;
}

.accordion-button i, .file-list-header i {
	margin-right: 1em;
	font-size: 2em;
}

i.bi-three-dots {
	margin-right: 0 !important;
}

.accordion-button div, .file-list-header div {
	text-wrap: nowrap;
	margin-right: 1em;
}

.accordion-folder i {
	color: var(--bs-yellow) !important;
}

.file-list-header {
	position: relative;
	display: flex;
	justify-content: start;
	align-items: center;
	width: 100%;
	font-size: 1rem;
	text-align: left;
	padding: 0.25rem 1.25rem;
	font-weight: 500;
	background-color: var(--bs-light);


}

.file-list-header .dropdown {
	margin-left: auto;
	margin-right: 0;
}

a.dropdown-item div {
	cursor: pointer;
}

.section-readme {
	margin: 4em 0;
}
